# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Virtual envs
.venv/
venv/
env/

# Paper PDF + parsed copy (copyright / intermediate)
*.pdf
s2orc_out/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
